
    <!--Aqui Empieza el Menú de Navegación-->
    <nav class="row navbar navbar-expand-lg"  style="background-color: #e3f2fd;">
      <div class="container-fluid">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item mover">
              <a href="#index" class="btn btn-outline-primary btn-md imaghover"><i class="bi bi-grid-1x2"></i><b> Historial</b></a>
            </li>
            <li class="nav-item mover">
              <a href="/create" class="btn btn-outline-primary btn-md imaghover"><i class="bi bi-mortarboard-fill"></i><b> Autores</b></a>
            </li>
            <li class="nav-item mover">
              <a href="/create-socio" class="btn btn-outline-primary btn-md imaghover"><i class="bi bi-person-circle"></i><b> Socio </b></a>
            </li>
            <li class="nav-item mover">
              <a href="/create-libro" class="btn btn-outline-primary btn-md imaghover"><i class="bi bi-book"></i><b> Libro</b></a>
            </li>
            <li class="nav-item mover">
                <a href="/create-prestamo" class="btn btn-outline-primary btn-md imaghover"><i class="bi bi-wallet"></i><b> Préstamo</b></a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    